


.nav{
   text-align: center;
   &__list{
    display: flex;
    justify-content: space-around;
    }
    &__link{
        background-color: $background-color;
        color: black;
       text-align: center;
       margin-right: 100px;
       transition: color 250ms ease-in-out;
       &:hover{
        color: $hover-color;
        transition: color 250ms ease-in-out;
     }
     }
}
