
/*

.nav{
   text-align: center;
   &__list{
    display: flex;
    justify-content: space-around;
    }
    &__link{
        background-color: $background-color;
        color: black;
       text-align: center;
       margin-right: 100px;
       transition: color 250ms ease-in-out;
       &:hover{
        color: $hover-color;
        transition: color 250ms ease-in-out;
     }
     }
}*/
.header{
   padding-bottom: 20px;
   padding-top: 20px;
}
.nav{
   text-align: center;
   
}
.nav__link{
   background-color: $background-color;
   color: black;
  transition: color 250ms ease-in-out;
  margin-top: 5px;
  &:hover{
   color: $hover-color;
   }
}
@media screen and (min-width: 768px){
   .nav__link{
      margin-right: 100px;
      
   }
   .header{
      padding-bottom: 30px;
      padding-top: 30px;
   }
  .nav__list{
   display: flex;
   justify-content: space-around;
  }
}
@media screen and (min-width: 906px){
   .header{
      padding-bottom: 71px;
      padding-top: 92px;
   }
}