body{
    box-sizing: border-box;
   }
   ul{
       list-style: none;
       padding: none;
       margin: none;
   }
   h1, h2,h3 ,h4 ,h5 ,h6 , p{
     margin: 0;
   }
   a{
       text-decoration: none;
   }
  img{
    width: 100%;
  }
   .container{
    max-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 768px){
    .container{
      width: 768px;
    }  


  }
  @media screen and (min-width: 906px){
    .container{
      width: 906px;
    }  
    
  }